* {
  box-sizing: border-box;
}

body {
  background: azure;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

main {
  margin: 0 auto;
}

footer {
  margin-top: 2em;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

input {
  width: 200px;
  padding: .625em;
  margin-bottom: 2em;
  border: 2px solid rgba(143, 142, 142, .85);
  border-radius: 5px;
  background-color: rgb(200, 253, 255);
  transition: all .2s;
}

input:focus {
  border: 1px solid rgba(226, 226, 226, 0.85);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  background-color: white;
}

.container {
  max-width: 67%;
  margin: 0 auto;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

/* #gallery > div {
  border: 2px solid black;
} */

@media (min-width: 768px) {
  
  input {
    width: 400px;
  } 

}