* {
  box-sizing: border-box;
}

body {
  background: rgb(247, 255, 255);
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

main {
  margin: 0 auto;
}

footer {
  margin-top: 2em;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

input {
  width: 200px;
  padding: .625em;
  margin-bottom: 2em;
  border: 2px solid rgba(143, 142, 142, .85);
  border-radius: 5px;
}

.container {
  max-width: 67%;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

@media (min-width: 768px) {
  
  input {
    width: 400px;
  } 

}